
venv/
.env
*.pyc
__pycache__/
*.pyo
*.pyd


db.sqlite3
*.sqlite3-journal


.env
*.env
*.local


logs/
*.log
debug.log


*.pyc
__pycache__/
*.swp
*.swo
*.DS_Store

**/migrations/*.py
!**/migrations/__init__.py


.vscode/
.idea/
*.iml
